
trigger:
- Frontend 

pool:
  vmImage: 'ubuntu-latest' # Elige el agente de la m치quina virtual (puedes usar 'windows-latest' si lo prefieres)

variables:
  # Define la versi칩n de Node y el directorio donde se genera la build
  nodeVersion: '24.11.1'
  # Ajusta esta variable: 'dist', 'build', 'out', etc., seg칰n tu framework (React, Vue, Angular)
  webArtifactName: 'web-app-build'
  webBuildDirectory: 'dist' 

jobs:
- job: BuildFrontend
  displayName: 'Compilar el Frontend'

  steps:
  
  - task: NodeTool@0
    displayName: '丘뙖잺 Instalar Node.js'
    inputs:
      versionSpec: $(nodeVersion)
      
  # 1. Instalar dependencias (npm i)
  - script: npm ci # 'npm ci' es m치s r치pido y recomendado en CI/CD que 'npm i'
    displayName: '游닍 Instalar Dependencias'
    
  # 2. Ejecutar la compilaci칩n (npm run build)
  - script: npm run build
    displayName: '游댣 Ejecutar NPM Build'
    
  # 3. Publicar los artefactos (La salida de la compilaci칩n)
  # Este paso es CRUCIAL para que los archivos generados puedan usarse en el paso de Despliegue (Release Pipeline)
  - task: PublishBuildArtifacts@1
    displayName: '拘勇 Publicar Artefactos de la Build'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/$(webBuildDirectory)'
      ArtifactName: $(webArtifactName)
      publishLocation: 'Container'