trigger:
  branches:
    include:
      - main
  paths:
    include:
      - backend

variables:
  # Nombres de las conexiones
  dockerRegistryServiceConnection: 'ConexionACR'
  azureSubscriptionConnection: 'ConexionAzureRecalificacion'
  
  # Nombres de recursos en Azure
  acrHost: 'blindcheckacr.azurecr.io'
  backImageName: 'blindcheck-api'
  
  # Nombre del App Service
  webAppNameBack: 'API-BlindCheck'

stages:
- stage: BuildAndPush
  displayName: 'Construir y Subir Imagen Backend'
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: 'Build and Push Backend'
      inputs:
        command: 'buildAndPush'
        repository: $(backImageName)
        dockerfile: '**/backend/Dockerfile'
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: 'Desplegar Backend en Azure'
  dependsOn: BuildAndPush
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureWebAppContainer@1
      displayName: 'Deploy Backend to App Service'
      inputs:
        azureSubscription: $(azureSubscriptionConnection)
        appName: $(webAppNameBack)
        containers: '$(acrHost)/$(backImageName):$(Build.BuildId)'
