version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: blindcheck-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: blindcheck-backend
    # Ya no necesitas exponer el puerto 8000 al mundo, Nginx lo hará internamente
    depends_on:
      - mongo
    environment:
      - MONGODB_URL=mongodb://mongo:27017
      - DATABASE_NAME=BlindCheck
      - SECRET_KEY=a8f5f167f44f4964e6c998dee827110c
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - ENCRYPTION_KEY=b9e4aa6b7c6d4f32a1b8e5c9d7f3e4a2

  frontend:
    build:
      context: ./frontend
    container_name: blindcheck-frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      # Asegúrate de que el Dockerfile del frontend use este archivo de config
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot_etc:/etc/letsencrypt
      - certbot_var:/var/www/certbot

  certbot:
    image: certbot/certbot
    container_name: blindcheck-certbot
    volumes:
      - certbot_etc:/etc/letsencrypt
      - certbot_var:/var/www/certbot
    # Este comando mantiene certbot vivo para renovar cada 12 horas
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  mongo_data:
  certbot_etc:
  certbot_var: